<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间会绑定到dao接口-->
<mapper namespace="com.starcpdk.mapper.TeacherMapper">

    <!-- 按结果嵌套查询 -->
    <select id="getTeacher" resultMap="teacherStudent">
        select s.id sid , s.name sname , t.id tid , t.name tname from student s , teacher t where s.tid = t.id and t.id = #{tid}
    </select>

    <resultMap id="teacherStudent" type="teacher">
        <result property="id" column="tid" />
        <result property="name" column="tname" />

        <!-- 实体类中students属性是list集合 ， 所以我们这里用collection
            因为是list集合 ， list集合是不规范的类型 ， 在因此我们需要使用oftype做类型映射 -->
        <collection property="students" ofType="student">
            <result property="id" column="sid" />
            <result property="name" column="sname" />
            <result property="tid" column="tid" />
        </collection>
    </resultMap>


    <!--  ==========================  -->
    <select id="getTeacher2" resultMap="teacherStudent2">
        select * from teacher where id = #{tid};
    </select>

    <resultMap id="teacherStudent2" type="teacher">
        <collection property="students" javaType="ArrayList" ofType="student" select="getStudentByTeacherId" column="id" />
    </resultMap>

    <select id="getStudentByTeacherId" resultType="student">
        select * from student where tid = #{tid};
    </select>


</mapper>